@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;900&display=swap');

// Google Fonts
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;

$orange-color: #DA722C;
$dark-blue-color: #023047;
$dark-color: #070917;
$light-color: #E8F7FB;
$light-blue-color: #6F7DFB;

