// @import "reset"; // Reset CSS
@import 'color'; // Base Color
@import 'media'; // Media query
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;900&display=swap');

// Google Fonts
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;

    @include tab {
        padding: 0 100px;
    }
}

/* Buttons */

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    position: relative;

    &.dark {
        background: $dark-color;
    }

    &.light {
        background: $orange-color;
    }

    &.enrol-icon::before {
        content: url('../images/enrol-now-icon.svg');
        position: absolute;
        top: 50%;
        left: 32px;
        transform: translateY(-50%);
    }

    &.enrol-icon {
        padding-left: 60px;
    }

    @include tab {
        padding: 12px 32px;
    }
}

/* Header */

header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 768px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease;

    .logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 40px;
        color: #FFFFFF;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 60px;
        list-style: none;
        margin: 0;

        li a {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
            text-decoration: none;
        }
    }

    &.scrolled {
        background: $dark-color;
        box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 8px 8px;
        padding: 12px;
        top: 0;
    }

    @include tab {
        width: 100%;
        left: 0;
        padding: 36px 100px;

        &.scrolled {
            padding: 16px 100px;
        }
    }
}

/* Hero Section */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 768px;
    width: 100%;
    padding-top: 60px;
    position: relative;

    .left {
        flex: 1;

        h1 {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 50px;
            line-height: 125%;
            color: #FFFFFF;
            margin-bottom: 0;
        }

        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            color: #FFFFFF;
            margin-bottom: 30px;
            width: 457px;
        }

        @include tab {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    .btn {
        align-self: flex-start;
    }

    .right {
        align-self: flex-end;
        position: absolute;
        right: 0;

        img {
            height: 520px;
            vertical-align: middle;

            @include tab {
                height: 580px;
            }
        }

        @include tab {
            position: absolute;
            bottom: 0;
        }
    }

    @include tab {
        flex-direction: column;
        position: relative;
    }
}

/* Achievement Cards */

.achievement-cards {
    align-self: flex-start;
    margin: 40px;
}

.achievement-card {
    position: absolute;
    min-width: 200px;

    .content {
        background: #FFFFFF;
        border-radius: 24px;
        padding: 8px 32px;
        z-index: 10;
        position: relative;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: $dark-blue-color;
        margin: 0;
        text-align: center;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $dark-blue-color;
        margin-top: -8px;
        margin-bottom: 8px;
        text-align: center;
    }

    &.students-enrolled {
        left: 47%;
        top: 370px;

        @include tab {
            left: unset;
            top: unset;
        }
    }

    &.overall-rating {
        left: 45%;
        top: 566px;

        @include tab {
            left: unset;
            top: unset;
        }
    }

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 8px;
        left: 8px;
        background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%);
        border-radius: 24px;
        z-index: 1;
    }

    @include tab {
        position: relative;
        margin-bottom: 80px;
    }
}

/* Testimonials Section */

section {
    margin-top: 100px;

    p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: $dark-blue-color;
        margin: 12px 0;
    }
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 60px;
    margin: 0;
    color: $dark-blue-color;

    &.light {
        color: #FFFFFF;
    }
}

.testimonials-section {
    display: flex;
    align-items: center;
    gap: 100px;

    .mobile-btn {
        display: none;

        @include tab {
            display: block;
            align-self: flex-end;
            order: 3;
        }
    }

    .features {
        margin-bottom: 30px;
    }

    .testimonials-card {
        width: 442px;
        background: #FFFFFF;
        box-shadow: 0px 9px 36px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        margin-bottom: 50px;
        position: relative;

        .content {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            background: $light-blue-color;
            border-radius: 24px;
            padding: 24px 32px;
        }

        &:last-child {
            transform: translateX(32px);

            .content {
                background: $orange-color;
            }

            &::before {
                left: 48px;
                top: -50px;
                border-radius: 0 0 24px 24px;
                height: calc(100% + 90px);
                z-index: -1;

                @include tab {
                    top: -40px;
                    left: 80px;
                    height: calc(100% + 80px);
                }
            }

            @include tab {
                transform: translateX(0px);
                margin-bottom: 0;
            }
        }

        img {
            width: 120px;
            height: 120px;
            position: absolute;
            right: 32px;
            bottom: 12px;
        }

        &::before {
            content: '';
            position: absolute;
            background: $dark-blue-color;
            width: 28px;
            height: 40px;
            top: -40px;
            left: 80px;
            border-radius: 24px 24px 0 0;
        }

        @include tab {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    .info {
        padding: 24px 32px;
        background: #FFFFFF;
        border-radius: 24px;

        h4 {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 24px;
            color: $dark-blue-color;
            margin: 0;
        }

        p.company {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: $dark-blue-color;
            margin: 0;
        }
    }

    .desktop-btn {
        @include tab {
            display: none;
        }
    }

    .right {
        @include tab {
            order: 1;

            h2 {
                margin-bottom: 20px;
            }

            p {
                display: inline;
            }
        }
    }

    .left {
        @include tab {
            order: 2;
        }
    }

    @include tab {
        flex-direction: column;
        align-items: stretch;
        gap: 50px;
    }
}

/* Courses Section */

.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0;
    padding-bottom: 120px;

    h2 {
        text-align: center;

        @include tab {
            margin-bottom: 40px;
        }
    }

    .course-cards {
        display: flex;
        gap: 70px;

        @include tab {
            flex-direction: column;
            gap: 80px;
        }

        .course-card {
            flex: 1;
            background: #FFFFFF;
            border-radius: 24px;
            padding: 0px 32px;
            margin: 40px 0;
            position: relative;

            @include tab {
                margin: 0;

                &:last-child {
                    margin-bottom: 50px;
                }
            }
        }

        .course-card h3 {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 30px;
            line-height: 150%;
            color: $dark-blue-color;

            @include tab {
                font-size: 24px;
            }
        }

        .course-card .info {
            display: flex;
            gap: 16px;
            justify-content: space-between;
            align-items: center;
        }

        .course-card .duration {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 16px;
            line-height: 150%;
            color: $dark-blue-color;
            white-space: nowrap;
            position: relative;
            padding-left: 15px;
        }

        .course-card .duration::before {
            content: url(../images/clock.svg);
            position: absolute;
            top: 2px;
            left: -7px;
        }

        .course-card::after {
            content: '';
            width: 88%;
            height: 8px;
            background: #023047;
            border-radius: 24px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    img {
        width: 100%;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
        border-radius: 24px;

        @include tab {
            height: 260px;
            object-fit: cover;
        }
    }

    .wrapper {
        position: relative;

        .btn {
            position: absolute;
            right: 0;

            @include tab {
                right: 100px;
            }
        }
    }
}

/* App Section */

.app-section {
    text-align: center;

    .app-buttons {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 40px;

        .app-btn {
            background: #000000;
            color: #FFFFFF;
            padding: 16px 31px;
            display: flex;
            align-items: center;
            gap: 14px;
            min-width: 310px;
        }

        span {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 24px;
        }
    }
}

/* Footer */

footer {
    background: $dark-color;
    color: #FFFFFF;
    margin-top: 100px;
    padding: 70px 0;

    h3 {
        color: $orange-color;
    }

    a {
        text-decoration: none;
        color: #FFFFFF;
    }

    ul {
        list-style: none;
        padding-left: 20px;

        li {
            margin: 16px 0;
        }
    }

    .links-container {
        display: grid;
        grid-template-columns: 2fr 2fr 3fr;

        @include tab {
            grid-template-columns: 1fr 1fr;

            .links:last-child {
                grid-column: 1 / 3;
            }
        }
    }

    .social {
        margin-left: 20px;

        a {
            margin-right: 28px;
        }
    }

    form {
        margin-left: 20px;
        margin-top: 16px;
        position: relative;

        input {
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            color: #000000;
            border-radius: 8px;
            padding: 8px 32px;
            border: none;
            width: 100%;
        }

        .submit-btn {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            background: $dark-blue-color;
            border-radius: 8px;
            padding: 2px 32px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            color: #FFFFFF;
        }
    }

    .copyright {
        margin-top: 20px;
    }
}

/* まとめてタブレットのスタイル指定 */

@include tab {

    header,
    .hero-section {
        height: 1100px;
    }

    h2 {
        font-size: 40px;
    }
}