/*_reset.scssを読み込む */
// @import "reset";
/*_color.scssを読み込む */
@import "color";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:wght@300;900&display=swap');

// Google Fonts
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;

    &.dark {
        background: $dark-color;
    }

    &.light {
        background: $orange-color;
    }
}